<!DOCTYPE html>
<form>
  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control"  placeholder="Informe Nome" ng-model="nome"/>
  </div>
  <div class="form-group">
    <label>Sobrenome</label>
    <input type="text" class="form-control"  placeholder="Informe sobrenome" ng-model="sobrenome"/>
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Informe seu email"  ng-model="email"/>
    <small id="emailHelp" class="form-text text-muted">Não compartilharemos seu email.</small>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Senha" />
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="sexo.opt" ng-true-value="'M'" />M &nbsp;
      <input type="checkbox" class="form-check-input" ng-model="sexo.opt" ng-true-value="'F'" />F
    </label>
  </div>
  <fieldset class="form-group">
    <legend>Radio buttons</legend>
    <div class="form-check">
      <label class="form-check-label" ng-repeat="estados in estadoCivil">
        <input type="radio" class="form-check-input" name="name" ng-model="$parent.name" value="{{estados.tipo}}">{{estados.label}}
      </label>
    </div>
  </fieldset>  
  <button type="submit" class="btn btn-primary">Registrar</button>
</form>